<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fast Parking System - Payment</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f5f5f5;
            margin: 0;
            padding: 20px;
            text-align: center;
        }

        form {
            max-width: 400px;
            margin: 0 auto;
            background-color: #ffffff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            display: grid;
            gap: 10px;
        }

        h1 {
            color: #333;
        }

        label {
            text-align: left;
            color: #555;
            font-weight: bold;
        }

        input {
            width: 100%;
            padding: 10px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 16px;
        }

        input[type="submit"] {
            background-color: #4caf50;
            color: #fff;
            cursor: pointer;
        }

        input[type="submit"]:hover {
            background-color: #45a049;
        }
        .amount-wrapper {
            display: flex;
            row-gap: 1rem;
            flex-direction: column;
        }
        .amount-wrapper div {
            border: 1px solid #ccc;
            background-color: white;
            padding: 10px;
            border-radius: 4px;
            font-weight: 400;
            cursor: pointer;
        }
 
        :checked + div { 
            background-color: #dbdbdb;
        }
    </style>
</head>

<body>
    <form action="/api/attendants/<%= user_id %>/pay" method="post">
        <!-- Store Name -->
        <h1>Fast Parking System</h1>

        <!-- Attendant -->
        <label for="attendant_name">Attendant:</label>
        <input type="text" id="attendant_name" name="attendant_name" value="<%= attendant_name %>" readonly>

        <!-- Location -->
        <label for="location">Location:</label>
        <input type="text" id="location" name="location" value="<%= location %>" readonly>

        <!-- Nominal -->
        <label>Amount:</label>
        <div class="amount-wrapper">
            <label for="amount-motor">
                <input style="display: none;"  type="radio" id="amount-motor" name="amount" value="<%= amount['motor'] %>">
                <div>Motor <%= amount['motor'] %></div>
            </label>
            <label for="amount-mobil">
                <input style="display: none;"  type="radio" id="amount-mobil" name="amount" value="<%= amount['mobil'] %>">
                <div>Mobil <%= amount['mobil'] %></div>
            </label>
        </div>

        <!-- Submit -->
        <div>
            <input type="submit" value="Submit">
        </div>
    </form>
</body>

</html>